
//color definitions
$color-one: #58e1c1;
$color-two: #51ddfc;
$color-three: #e4757a;
$color-four: #927bc1;
$color-five: #63cc82;

//media query breakpoint variables

$brk-small: '(min-width: 768px)' ;