/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-two;
  }
  
  .error {
    background-color: $color-three;
  }
  
  .info {
    background-color: $color-four;
  }
  
  .success {
    background-color: $color-five;
  }
  
  .warning {
    background-color: #fd7856;
  }